.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.err{
  background-color: red;
  color:red
}
.active_btn{
  background-color: aqua;
}

.checked{
color: rgba(0, 0, 0, 0.37);
}